@import 'reset';
@import 'common';
@import 'iconfont';

.container {
  width: 1200px;
  margin: 40px auto 0;
  background-color: #fff;
  min-height: 1412px;
  _height: 1412px;
  overflow: hidden;
}

.menu {
  width: 210px;
  margin-bottom: -10000px;
  padding-bottom: 10000px;
  float: left;
  border-right: 1px solid rgba(231, 231, 231, 0.7);
  box-sizing: border-box;
}

.wrap {
  float: left;
  width: 990px;
  margin-bottom: -10000px;
  padding-bottom: 10000px;
}
