/*
* @Author: Xun.Fu
* @Date:   2017-12-26 10:06:47
* @Last Modified by:   Xun.Fu
* @Last Modified time: 2017-12-26 10:06:54
*/
.demo-spin-icon-load {
  animation: ani-demo-spin 1s linear infinite;
}

@keyframes ani-demo-spin {
  from {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  to {
    transform: rotate(360deg);
  }

}
